<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% load tailwind_tags %}

    {% tailwind_css %}
<body class="bg-orange-200">
    {% include './messages.html' %}

    <section class="header">
        <div class="flex justify-evenly text-2xl text-red-400 mt-2">
            <h1 class="font-bold py-2 px-4 text-3xl">Annie</h1>
            <div class="grid-flow-col" >
                {% if user.is_authenticated %}
                <h5>
                    Bienvenido {{user}}
                </h5>
                {% endif %}
            </div>
            <div class="grid-flow-col ">
                {% if user.is_authenticated %}
                
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'logout' %}">
                    Log out
                </a>
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'perfil' user %}">
                    Modificar perfil
                </a>
                {% for perf in perfil_list %}
                        <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'delete_perfil' perf.id %}">
                            Eliminar perfil
                        </a>
                {% endfor %}
                

                
                
  
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'reg-cliente' user %}">
                    ¿Buscas una niñera?
                </a>
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'reg-niñera' user %}">
                    Ser niñera
                </a>
                {% else %}
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'logueo' %}">
                    ¿Buscas una niñera?
                </a>
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'logueo' %}">
                    Ser niñera
                </a>
                <a class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full" href="{% url 'logueo' %}">
                    Conectate
                </a>
                {% endif %}

            </div>
        </div>
<br><br><br><br><br><br><br>
        <div id="hero">
            <div class="flex justify-evenly">
                <div class="">
                    <h2 class="text-3xl">
                        Encontra a tu niñera ideal.
                    </h2>

                    <h3 class="text-3xl">
                        Mas de 10.000 niñeras disponibles
                        en Argentina.
                    </h3>
                <br><br><br><br><br><br>
                    <form action="">
                        <input type="text" class="w-5/6 h-12 bg-white rounded-full shadow-lg shadow-indigo-500/40">
                        <input type="submit" value="Buscar" id="btn" class="rounded-2xl bg-green-300 h-18 w-3/12 translate-x-80 -translate-y-9 cursor-pointer hover:bg-blue-400"> 
                    </form>
                </div>
                <div>
                    <img src="../../static/img/indexhero1.png" class="-translate-y-20" alt="">
                    <img src="../../static/img/indexcircle.png" class="h-8 absolute top-28 animate-ping">
                    <img src="../../static/img/indexcircle.png" class="h-8 absolute top-28 left-16 animate-ping">
                    <img src="../../static/img/indexcircle.png" class="h-8 absolute top-80 left-96 animate-ping">
                    <img src="../../static/img/indexcircle.png" class="h-8 absolute top-3/4 left-2/4 animate-ping">
                </div>
            </div>
            
        </div>
    </section>


    <section id="main" class="grid justify-center">
        
        <div class="flex flex-col bg-orange-200 rounded-2xl border shadow-md md:flex-row md:max-w-xl transition-all ease-in-out hover:bg-red-400">
            <img src="../../static/img/main1.jpg" class="object-cover w-full h-96 md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
            <div class="flex flex-col alig p-4 leading-normal">
                <img src="../../static/img/indexicon1.png" class="w-9 animate-bounce ml-36" alt="">
                <h2 class="mb-2 text-2xl tracking-tight text-black">Personalizacion</h2>
                <p class="mb-3 font-normal text-black">Resultado de niñeras, segun gran variedad de filtros</p>
            </div>
        </div>

        <div class="flex flex-col-reverse bg-orange-200 rounded-2xl border shadow-md md:flex-row md:max-w-xl transition-all ease-in-out hover:bg-red-400">
            <img src="../../static/img/main1.jpg" class="object-cover w-full h-96 md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
            <div class="flex flex-col alig p-4 leading-normal">
                <img src="../../static/img/indexicon1.png" class="w-9 animate-bounce ml-36" alt="">
                <h2 class="mb-2 text-2xl tracking-tight text-black">Personalizacion</h2>
                <p class="mb-3 font-normal text-black">Resultado de niñeras, segun gran variedad de filtros</p>
            </div>
        </div>


        <div class="flex flex-col bg-orange-200 rounded-2xl border shadow-md md:flex-row md:max-w-xl transition-all ease-in-out hover:bg-red-400">
            <img src="../../static/img/main1.jpg" class="object-cover w-full h-96 md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
            <div class="flex flex-col alig p-4 leading-normal">
                <img src="../../static/img/indexicon1.png" class="w-9 animate-bounce ml-36" alt="">
                <h2 class="mb-2 text-2xl tracking-tight text-black">Personalizacion</h2>
                <p class="mb-3 font-normal text-black">Resultado de niñeras, segun gran variedad de filtros</p>
            </div>
        </div>
    </section>

    <section class="footer">

    </section>
</body>
</html>

