{% extends './base.html' %}
{% load tailwind_tags %}
{% block content %}
    <div class="flex flex-col items-center mt-24">
        <h2 class="text-2xl text-center underline">MODIFICAR PERFIL</h2>
 
        {% for field in form %}
        <form action="" method="POST" class="">
            {% csrf_token %}
            {% if field == form.foto_perfil %}
            <div class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">
                {{ field }}
            </div>
            {% else %}
            <div class="grid justify-center text-center">
                {{ field.label_tag }}
                    {{ field }}
            </div>
            {% if field == form_cliente.foto_perfil %}
            <div class="">
                {{ field }}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">Guardar</button>
        </form>
        <div class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-12 mt-6">
            <a href="{% url 'index' %}">Volver a Inicio</a>
        </div>
    </div>
  
</body>
</html>
{% endblock %}