{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    {% tailwind_css %}
    <title>Niñera</title>
</head>


<body class="bg-orange-200">
        <header>
        {% include './extends/navbar.html' %}    
        </header>   


    <br><br><br>
    
    <main>
        <section>
                <!-- MI PERFIL -->
                <div class="flex flex-col m-auto rounded-2xl shadow-2xl shadow-slate-900 md:flex-row md:max-w-xl ">
                    <img src="../../static/img/profile1.png" class="object-contain w-full h-96 md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
                    <div class="flex flex-col alig p-4 leading-normal justify-center">
                        <h2 class="text-3xl tracking-tighter text-center">{{ mi_perfil.nombre }} {{mi_perfil.apellido}}</h2>
                        <h3 class="text-2xl text-center">{{ mi_perfil.fecha_nacimiento }}</h3>
                        <p class="text-lg tracking-tight text-black text-center">{{mi_perfil.descripcion}}</p>
                        <!-- <p class="font-normal text-black text-center">Me encantan los niños, son mi pasión. Tengo carnet B2 y auto propio. Me gusta cocinar y ayudar a los niños con su tarea.</p> -->
                        <p class="text-right">Tarifa por hora: ${{mi_perfil.tarifa_por_hora}}</p>
                    </div>
                </div>
    <br><br>
                <div class="grid grid-cols-4 items-end mx-96">
                    <div class="mx-auto w-2/5 text-center font-sans transition duration-300 hover:scale-125">
                        <p class="bg-blue-400 rounded-md ">
                            {% for habilidad in mi_perfil.habilidades %}
                                {{habilidad}}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="mx-auto w-2/5  text-center font-sans transition duration-300 hover:scale-125">
                        <p class="bg-blue-400 rounded-md">
                            {% for edad in mi_perfil.edades %}
                                {{edad}}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="mx-auto w-2/5  text-center font-sans transition duration-300 hover:scale-125">
                        <p class="bg-blue-400 rounded-md ">
                            Cuidado
                        </p>
                    </div>
                    <div class="mx-auto w-2/5  text-center font-sans transition duration-300 hover:scale-125">
                        <p class="bg-blue-400 rounded-md ">
                            Paseos
                        </p>
                    </div>
                </div>
        </section>

        <section id="comentarios" class="">

            <div class="my-8">
                <a href="{% url 'add_coment' mi_perfil.pk %}"></a>
            </div>

            <h2 class="text-3xl text-center mt-10">
                Comentarios
            </h2>
            {% for niñera in niñeras %}
            <div class="flex flex-row ml-64">
                <div class="grid grid-cols-2">
                    <div class="grid p-4 m-auto rounded-2xl shadow-2xl shadow-slate-900 md:flex-row md:max-w-xl ">
                        <div class="m-auto">
                            <img src="../../static/img/profile1.png" class="w-full md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
                        </div>
                        <div class="flex flex-col alig p-4 leading-normal justify-center">
                            <h2 class="text-3xl tracking-tighter text-center">{{ niñera.nombre }}{{ niñera.apellido }}</h2>
                            <h3 class="text-2xl text-center">{{ niñera.ciudad }}</h3>
                            <p class="text-lg tracking-tight text-black text-center">Experiencia con bebés de recién nacidos hasta los 3 años.</p>
                            <p class="font-normal text-black text-center">Me encantan los niños, son mi pasión. Tengo carnet B2 y auto propio. Me gusta cocinar y ayudar a los niños con su tarea.</p>
                            <p class="text-right">{{ niñera.tarifa_por_hora }}</p>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-2">
                    <div class="grid p-4 m-auto rounded-2xl shadow-2xl shadow-slate-900 md:flex-row md:max-w-xl ">
                        <div class="m-auto">
                            <img src="../../static/img/profile1.png" class="w-full md:h-auto md:w-48 md:rounded-none md:rounded-1-lg rounded-t-lg" alt="">
                        </div>
                        <div class="flex flex-col alig p-4 leading-normal justify-center">
                            <h2 class="text-3xl tracking-tighter text-center">{{ niñera.nombre }}{{ niñera.apellido }}</h2>
                            <h3 class="text-2xl text-center">{{ niñera.ciudad }}</h3>
                            <p class="text-lg tracking-tight text-black text-center">Experiencia con bebés de recién nacidos hasta los 3 años.</p>
                            <p class="font-normal text-black text-center">Me encantan los niños, son mi pasión. Tengo carnet B2 y auto propio. Me gusta cocinar y ayudar a los niños con su tarea.</p>
                            <p class="text-right">{{ niñera.tarifa_por_hora }}</p>
                        </div>

                    </div>
                    
                </div>
                
            </div>
            {% endfor %}
        </section>
    </main>


</body>

<footer>
    {% include 'mainapp/extends/footer.html' %}
</footer>
</html>