{% extends './base.html' %}
{% load tailwind_tags %}
{% block content %}

<div class="flex flex-col items-center mt-11">
    <h2 class="text-2xl text-center underline">REGISTRARME COMO NIÑERA</h2>
    <form action="" method="POST" class="">
        {% csrf_token %}
        <div>{{ form.turnos.label_tag }}</div>
        {% for field_turno in form.turnos %}
        <div>
            {{ field_turno }}
        </div>
        {% endfor %}
        <div>{{ form.habilidades.label_tag }}</div>
        {% for field_habilidad in form.habilidades %}
        <div>
            {{ field_habilidad }}
        </div>
        {% endfor %}
        <div>{{ form.edades.label_tag }}</div>
        {% for field_edad in form.edades %}
        <div>
            {{ field_edad }}
        </div>
        {% endfor %}
        <div>
            {{form.nombre.label_tag}}
            {{form.nombre}}
        </div>
        <div class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">
            {{form.apellido.label_tag}}
            {{form.apellido}}
        </div>
        <div>
            {{form.dni.label_tag}}
            {{form.dni}}
        </div>
        <div>
            {{form.fecha_nacimiento.label_tag}}
            {{form.fecha_nacimiento}}
        </div>
        <div>
            {{form.ciudad.label_tag}}
            {{form.ciudad}}
        </div>
        <div>
            {{form.telefono.label_tag}}
            {{form.telefono}}
        </div>
        <div>
            {{form.tarifa_por_hora.label_tag}}
            {{form.tarifa_por_hora}}
        </div>
        <div>
            {{form.descripcion.label_tag}}
            {{form.descripcion}}
        </div>
        <div>
            {{form.foto_perfil}}
        </div>
        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm  px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6 mb-6">
            Crear
        </button>
        
        
        <div class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-12">
            ¿Ya estás registrada? <a href="{% url 'logueo' %}" class="underline">Inicia Sesión</a>
        </div>
    </form>  
</div>
{% endblock %}


<!-- {% if field == form.foto_perfil %}
<div class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm min-w-full sm:w-auto px-5 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-6">
    {{ field }}
</div>
{% else %}
<div class="grid justify-center text-center ">
    {{ field.label_tag }}
    {{ field }}
</div> 
{% endif %}-->