{% extends './base.html' %}
{% include './messages.html' %}

{% block content %}

    <h1>Hola</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}  
            <div class="">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        
        <button type="submit">Crear</button>
    </form>
    <button><a href="{% url 'reg-niñera' user %}">¿Quieres ser niñera?</a></button>
    <button><a href="{% url 'reg-cliente' user %}">¿Buscas una niñera?</a></button>
    
{% endblock %}