{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    {% tailwind_css %}
    <title>Buscart</title>
</head>
<body class="bg-orange-200">
    
    <section>
        {% include './extends/navbar.html' %}
        <div class="text-center my-10">
            {% include './extends/buscar.html' %}
        </div>        
    </section>

    <!-- <section>
        <div class="bg-grey col-12 mt-3 align-middle justify-content-center flex" >
            <button type="button" class="btn btn-light mr-10 shadow-sm" data-toggle="collapse" data-target="#filters">Filters <i class="fa fa-filter"></i></button>
        </div>

        <div id="filters" class="collapse">
            <hr class="solid col-9 mx-auto">

            <div class="d-md-flex d-lg-flex d-xl-flex justify-content-around col-9 mx-auto">

            <div class="col-lg-4 col-xl-3 col-md-6">
                <article class="filter-group">
                    <header class="card-header"> 
                            <h6 class="title">Edad </h6>
                     </header>
                        <div class="filter-content" id="collapse_aside1">
                            <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label"> 0-3 años </div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label"> 4-6 años </div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label"> 7-10 años </div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label"> 11-13 años </div>
                                </label> </div>
                        </div>
                </article>

                
            </div>
            
            <div class ="col-lg-4 col-md-6">
                
                
            </div>
            <div class ="col-lg-4 col-xl-3 col-md-6">
                <article class="filter-group">
                    <header class="card-header"> 
                        <h6 class="title">Actividades </h6>
                    </header>
                    <div class="filter-content" id="collapse_aside4">
                        <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label"> Manejar </div>
                            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label"> Traslado de niñe </div>
                            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label"> Tarea del hogar</div>
                            </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label"> Cocinar </div>
                            </label> </div>
                    </div>
                </article>
                
                <a href="#" class="btn btn-medium button mt-6 mb-12 md:mb-0 md:mt-10 inline-block  text-white bg-red-500 hover:bg-red-600 rounded-lg shadow mx-auto" data-abc="true" data-toggle="collapse" data-target="#filters">Apply Now</a>

            </div>

            </div>
            
            
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- </section> -->

    <section>
        <h2 class="text-center text-3xl font-semibold">
            500 niñeras han dado resultado
        </h2>

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> {{ nombre }}</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>    

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>        

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>    
    </section>

    <footer>
        {% include 'mainapp/extends/footer.html' %}
    </footer>
</body>
</html>
