{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    {% tailwind_css %}
    <title>Buscart</title>
</head>
<body class="bg-orange-200">
    
    <section>
        {% include './extends/navbar.html' %}
        <div class="text-center my-10">
            {% include './extends/buscar.html' %}
        </div>        
    </section>
    
    <section>
        <h2 class="text-center text-3xl font-semibold">
            500 niñeras han dado resultado
        </h2>

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> {{ nombre }}</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>    

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>        

        <div class="grid grid-cols-3 ml-36">
            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>

            <div class="p-8">  
                <!--Card 1-->
                <div class="w-2/4 rounded  shadow-lg">
                    <img class="" src="../../static/img/profile1.png" alt="">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"> Maria Perez</div>
                        <p class="text-gray-700 text-base">
                        Experiencia con bebés de recién nacidos hasta los 3 años
                        $500 / hora
                        </p>
                    </div>
                </div>
            </div>  
        </div>    
    </section>

    <footer>
        {% include 'mainapp/extends/footer.html' %}
    </footer>
    
</body>
</html>
