<div class="flex justify-center items-center gap-5 pt-20">
  <button class="group flex justify-center items-center bg-white border focus:outline-none shadow text-gray-600rounded focus:ring ring-gray-200">
    Conectate
  </button>
  <div class="group-focus:block absolute hidden top-full min-w-full w-max bg-white shadow-md mt-1 rounded">
    <ul class="text-left border rounded">
      <li class="px-4 py-1 hover:bg-gray-100 border-b">Nombre de usuario</li>
      <li class="px-4 py-1 hover:bg-gray-100 border-b">Contraseña</li>
    </ul>

  </div>
</div>

<!--<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" /> <title>Document</title>!-->
